# This file includes global variables that will be available inside your project
# 1. In the front end code you can access this variables like this: console.log(process.env.VARIABLE_NAME)
# 1. In the back end code you access the variable by importing os and then typing print(os.getenv('VARIABLE_NAME'))

# Back-End Variables
DATABASE_URL=postgres://gitpod:postgres@localhost:5432/example
FLASK_APP_KEY="asdasdsadas"
FLASK_APP=src/app.py
FLASK_DEBUG=1
DEBUG=TRUE

# Front-End Variables
BASENAME=/

#-----------URL BACKEND Y FRONTEND ------------------------

# BACKEND_URL=sadsadsadas

# FRONTEND_URL=hasdsadasd

#-----------JWT AUTENTICACION ------------------------

# KEY_JWT="asdsadsadsa"

#-----------encriptacion email ------------------------

# EMAIL_ENCRYPTION_KEY="asdsadsadsadsal"
# EMAIL_ENCRYPTION_PASSWORD="sadsadsadas"


#-----------envio email------------------------

# EMAIL_FOR_SEND="example@gmail.com"
# PASSWORD_SEND_EMAIL="asdasdasdasdas"

# EMAIL_FOR_CONTACT="example@gmail.com"


#-----------FIREBASE VERIFICACION GOOGLE ACCOUNT------------------------

# FIREBASE_API_KEY="asdsadasdasdsadas"
# FIREBASE_AUTH_DOMAIN="asdasdasdsadas.firebaseapp.com"
# FIREBASE_PROJECT_ID="asdsadasdas"
# FIREBASE_STORAGE_BUCKET="asdasdasdasdas.appspot.com"
# FIREBASE_MESSAGING_SENDER_ID="asdasdasdasda"
# FIREBASE_APP_ID="asdasdasdas"
# FIREBASE_MEASUREMENT_ID="asdasdasdasdas"

