/* 
    General Styles used on every website (Don't Repeat Yourself)
*/
body {
    margin: 0;
    /* overflow: hidden; Evita el desplazamiento vertical cuando se aplica el desenfoque */
    color: rgb(44, 43, 43);
    background-color: #6c757d1a;

}