.userProfile {
    padding: 20px;
    background: #fafafa;
}

.profileHeader {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.profilePicContainer {
    cursor: pointer;
}

.profilePic {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid #dbdbdb;
}

.userInfo {
    display: flex;
    align-items: center;
    gap: 10px;
    /* Añade un espacio entre el nombre de usuario y el botón de edición */
}

.username {
    font-size: 1.5rem;
    font-weight: bold;
    color: #262626;
    margin: 0;
    /* Asegúrate de que no haya margen para una mejor alineación */
}

.profileStats {
    display: flex;
    gap: 10px;
    margin-top: 10px;
    color: #262626;
}

.profileStats span {
    font-size: 1rem;
}

.profileActions {
    display: flex;
    gap: 10px;
    margin-top: 10px;
    margin-left: 10px;
}

.followButton,
.messageButton {
    font-size: 0.875rem;
    border-radius: 4px;
}

.newPostButton {
    display: flex;
    align-items: center;
    font-size: 0.875rem;
    border-radius: 4px;
    background-color: #0095f6;
    color: #ffffff;
    transition: background-color 0.3s ease;
}

.newPostButton i {
    margin-right: 5px;
}

.newPostButton:hover {
    background-color: #007bb5;
}

.profileInfo {
    margin-top: 20px;
    color: #262626;
}

.profileInfo h3 {
    font-size: 1.25rem;
    font-weight: bold;
}

.profileInfo p {
    font-size: 1rem;
    color: #8e8e8e;
}

.postsContainer {
    margin-top: 20px;
}