.userProfile {
    padding: 5px;
}

.card {
    margin-bottom: 20px;
    border-radius: 10px;
    border: 1px solid var(--color-navy);
}

.profileContainer {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

.card-header {
    background-color: var(--color-navy);
    color: var(--color-white);
    border-radius: 10px 10px 0 0;
}

.logo {
    max-width: 100%;
    width: 90px;
    height: 90px;
    object-fit: cover;
    border-radius: 50%;
}

@media (max-width: 768px) {
    .card {
        margin-bottom: 20px;
    }
}