.loginRegisterContainer {
    padding: 30px;
    margin-bottom: 15px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.headerRow {
    margin-bottom: 20px;
}

.header {
    text-align: center;
    color: #262626;
    font-weight: bold;
    font-size: 2rem;
}

.subHeader {
    text-align: left;
    color: #262626;
    font-weight: bold;
    margin-bottom: 20px;
    font-size: 1.25rem;
}

.formContainer {
    padding: 20px;
}

.form {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.input {
    border-radius: 5px;
    border: 1px solid #dbdbdb;
    margin-bottom: 15px;
    padding: 10px;
    font-size: 1rem;
}

.passwordContainer {
    position: relative;
}

.passwordToggle {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    color: #8e8e8e;
}

.loginButton,
.registerButton {
    background-color: #0095f6;
    border: none;
    color: #ffffff;
    font-weight: bold;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.loginButton:hover,
.registerButton:hover {
    background-color: #007bb5;
}

.forgotPassword {
    display: block;
    margin-top: 10px;
    color: #00376b;
    text-align: center;
}

.socialLoginButtons {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.googleButton {
    background-color: #db4437;
    color: #ffffff;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.googleButton:hover {
    background-color: #c33c2e;
}

.googleLogo {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.privacyPolicy {
    margin-top: 20px;
    color: #8e8e8e;
    font-size: 0.9rem;
    text-align: center;
}