.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
    background: #fafafa;
}

.password-reset-request {
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #dbdbdb;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.h2 {
    margin-bottom: 20px;
    text-align: center;
    color: #262626;
    font-weight: bold;
    font-size: 1.5rem;
}

.form {
    display: flex;
    flex-direction: column;
}

.label {
    margin-bottom: 8px;
    color: #262626;
    font-size: 1rem;
}

.input {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #dbdbdb;
    border-radius: 4px;
    background-color: #fafafa;
    font-size: 1rem;
}

.button {
    padding: 10px;
    background-color: #0095f6;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 1rem;
    font-weight: bold;
}

.button:hover {
    background-color: #007bb5;
}

.message {
    color: #0095f6;
    text-align: center;
    font-size: 1rem;
    margin-top: 10px;
}

.error {
    color: #ed4956;
    text-align: center;
    font-size: 1rem;
    margin-top: 10px;
}

.modalNotification {
    color: #262626;
}

.modal-header {
    border-bottom: 1px solid #dbdbdb;
}

.modal-title {
    color: #262626;
    font-weight: bold;
}

.modal-body {
    color: #262626;
    font-size: 1rem;
}

.modal-footer {
    border-top: 1px solid #dbdbdb;
}

.modal-backdrop {
    background-color: rgba(0, 0, 0, 0.5);
}