.strengthBarContainer {
    height: 10px;
    width: 100%;
    background-color: var(--neutral-light-gray);
    /* Utiliza un gris claro para el fondo de la barra */
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 10px;
}

.strengthBar {
    height: 100%;
    border-radius: 5px;
    transition: width 0.3s ease-in-out;
    /* Color y estilo del ancho de la barra según la fortaleza */
}

.recommendations {
    color: var(--neutral-dark-gray);
    /* Utiliza un gris oscuro para las recomendaciones */
    font-size: x-small;
    list-style-type: none;
    padding-left: 0;
    margin-top: 10px;
}

.recommendations li {
    margin-bottom: 5px;
}