.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
    background: linear-gradient(135deg, var(--color-navy), var(--color-lime));
}

.resetPassword {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: var(--color-white);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.h2 {
    margin-bottom: 20px;
    text-align: center;
    color: var(--color-navy);
}

.form {
    display: flex;
    flex-direction: column;
}

.label {
    margin-bottom: 8px;
    color: var(--color-navy);
}

.input {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid var(--color-grey);
    border-radius: 4px;
}

.button {
    padding: 10px;
    background-color: var(--color-lime);
    color: var(--color-white);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #89b300;
    /* Slightly darker lime green */
}

.message {
    color: var(--color-lime);
    text-align: center;
}

.error {
    color: var(--color-orange-red);
    text-align: center;
}

.modal {
    text-align: center;
}

.modalNotification {
    color: gray;
}

/* Estilos para el contenedor de la contraseña */
.passwordContainer {
    position: relative;
}

.passwordToggle {
    position: absolute;
    right: 10px;
    top: 50%;
    margin: 0%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    color: gray;
}